<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dsp.visitor.dao.FunDao">

    <resultMap id="FunResult" type="Fun">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <result property="icon" column="icon"></result>
        <result property="url" column="url"></result>
        <result property="pid" column="pid"></result>
        <result property="addTime" column="add_time"></result>
    </resultMap>

    <select id="list" parameterType="Fun" resultMap="FunResult">
        select * from sys_fun
        <where>
            <if test="name!=null and name!=''">
                and name like CONCAT('%',#{name},'%')
            </if>
        </where>
    </select>


    <select id="all" resultMap="FunResult">
        select * from sys_fun
    </select>

    <insert id="add" parameterType="Fun">
        insert into sys_fun values (null,#{name},#{url},#{icon},#{pid},#{addTime})
    </insert>

    <update id="update" parameterType="Fun">
        update sys_fun
        <set>
            <if test="name!=null and name!=''">
                name=#{name},
            </if>
            <if test="url!=null and url!=''">
                url=#{url},
            </if>
            <if test="icon!=null and icon!=''">
                icon=#{icon},
            </if>
            <if test="pid!=null and pid!=''">
                pid=#{pid},
            </if>
            <if test="addTime!=null and addTime!=''">
                add_time=#{addTime}
            </if>
        </set>
        where id=#{id}
    </update>

    <delete id="delete" parameterType="Integer">
        delete from sys_fun where id=#{id}
    </delete>

</mapper> 