<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dsp.visitor.dao.LoginLogDao">

    <resultMap id="LogResult" type="LoginLog">
        <id property="id" column="id"></id>
        <id property="name" column="name"></id>
        <id property="ip" column="ip"></id>
        <id property="browser" column="browser"></id>
        <id property="time" column="time"></id>
    </resultMap>

    <select id="list" parameterType="LoginLog" resultMap="LogResult">
        select * from log_login order by time desc
    </select>


    <insert id="add" parameterType="LoginLog">
        insert into log_login values (null,#{name},#{ip},#{browser},#{time})
    </insert>



</mapper> 